/* GLOBAL STYLES 
-----------------*/
* {-moz-box-sizing:border-box; box-sizing: border-box;}

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}a{background:transparent;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}dfn{font-style:italic;}h1{font-size:2em;margin:.67em 0;}mark{background:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:1em 40px;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em;}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}button{overflow:visible;}button,select{text-transform:none;}button,html input[type=button],/* 1 */ input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input{line-height:normal;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}table{border-collapse:collapse;border-spacing:0;}td,th{padding:0;}b,strong,optgroup{font-weight:700;}pre,textarea{overflow:auto;}button::-moz-focus-inner,input::-moz-focus-inner,legend{border:0;padding:0;}

html {
	font-size: 62.5%;
}


body{
	font-family: 'Lato', sans-serif;
}

$logo: 'JennaSue';


@mixin importfont($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('#{$font-filename}.eot');
		src: url('#{$font-filename}.eot?#iefix') format('embedded-opentype'),
		url('#{$font-filename}.woff') format('woff'),
		url('#{$font-filename}.ttf') format('truetype'),
		url('#{$font-filename}.svg##{$font-family}') format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

.main {
	position:relative;
	z-index: 5;
	padding:0;
	width:100%
	
}
 

/* HOME
-----------------*/



.header {
	position:fixed;
	width:100%;
	top:0;
	z-index:200;
}


.headwrap {
	background: url(img/laptop-book.jpg) no-repeat fixed center; 
	opacity:0.95;
	background-size:cover;
	width:100%;
	position:relative;

	.headwrapContainer {
		margin:0 auto;
		max-width:90%;
		width:1240px;
		height:685px;
    
	    .head {
		   text-align: center;
		   line-height:0.9;
		   height:185px;
		   width:520px;
		   background:#27AE60;
		   opacity:0.8;
		   padding:20px 35px;
		   color:white;
		   position:fixed;
		   z-index:-100;
		   top:37%;
		   left:28%;
		   border: 1px solid grey;


			h1 {
		       font-size: 4.1rem;
		       letter-spacing: 5px;
		       font-weight: 400;
			}

			h2 {
		       font-size: 2.9rem;
		       font-weight: 300;
			}
		}
	}
}

/* NAV
-----------------*/

.nav {
		background:rgba(#373425, 0.6);
	    border: 1px solid grey;


	ul {
		

	   li {
	   		display:inline-block;
	   		padding: 1% 0 1% 3%;
	   		

	   		a {
	   			
	   			text-decoration:none;
	   			font-size:2rem;
	   			color:white;
	   			font-weight:300;
	   		}
	    }
	}
}

// #menu-item-44 {
// 				padding:5px 0 -5px 0;

// 				a {
// 				  font-family:Arial;
// 				  font-size:4rem;
// 				  line-height:1rem;
// 				  letter-spacing:3px;
// 				  color:#27AE60;
// 				  font-weight:bold;
// 				}
// 			}	

ul.social {
	position:fixed;
	top:0;
	right:7%;
	min-width:350px;


	li {
		padding-left:6%;
		float:right;
	}
	
	#menu-item-77 {
		padding-top:4px;


		a {
			text-indent:-9999px;
			background:url(img/icons5.png) no-repeat -16px -3px;
			display:inline-block;
			width:42px;
			height:41px;

		}	
	}

	#menu-item-78 {
		// float:right;
		padding-top:4px;
		a {
			text-indent:-9999px;
			background:url(img/icons5.png) no-repeat -78px -3px;
			display:inline-block;
			width:42px;
			height:41px;
		}	
	}

	#menu-item-79 {
		// float:right;
		padding-top:4px;

		a {
			text-indent:-9999px;
			background:url(img/icons5.png) no-repeat -141px -3px;
			display:inline-block;
			width:42px;
			height:41px;
		}	
	}

	#menu-item-80 {
		
		padding-top:4px;

		a {
			text-indent:-9999px;
			background:url(img/icons5.png) no-repeat -203px -3px;
			display:inline-block;
			width:42px;
			height:41px;
		}	
	}
}

/* ABOUT
-----------------*/

article.post-50{
	max-width:1240px;
	margin: 0 auto;
}

#about {
background:url(img/about-background1.png);
position:relative;
z-index:100;
height:685px;

	h2 {
		padding-top:8%;
		 letter-spacing: 5px;
		text-align:center;
		font-size:4rem;
		margin:0;		
	}
}

img.cover {
     width:50%;
     height:40%;
     position:absolute;
     top:200px;
     left:500px; 
} 

// .box {
// 	background-color: black; 
// 	 opacity:0.4;
// 	 width:50%;
//      height:40%;
//      position:absolute;
//      top:200px;
//      left:500px;
// }
// .box::after {

// }

#post-50 {
	img {
		width:20%;
		height:80%;
		float:left;
		margin:10% 8% 5% 15%;
		border: 1px solid grey;
	
	}

	.content {
			padding-top:9%;
			position:relative;
			display:block;

		p {
			font-size:1.5rem;
			margin:1% 15% 0 0;
			line-height:1.4;
			color:#112c1c;
		}
		
		span.Headline {
	 		font-size:1.5rem;
	 		font-weight:bold;
	 		color:#112c1b;
		}
	}
 }

.skillscontainer {
	
	max-width: 1240px;
	width:84%;
	margin: 0 auto;
	
}

#skills {
	
	background:url(img/skillsbackground6.png) no-repeat;
	background-size:cover;
	height:500px;


	
	h2 {
		position:relative;
		top:45%;
		padding-left:3%;
		letter-spacing: 5px;
		font-size:3.2rem;
		margin:0;
		color:#112c1b;
		}
}


.front-end {
	float:left;
	width:27%;
	text-align: center; 
	margin-left:15%;
	margin-top:5%;
	
		img {
			width:90%;
			height:auto;
			padding-bottom: 28px;
			padding-left:40px;
		} 

	    ul {
			text-align: center;
	    	h3 {
			font-size:2rem;
			}
		    li {
				list-style: none;
				// font-family: 'Source Sans Pro', sans-serif;	
				line-height: 25px;
				font-size: 15px;
			}
	    }
}

	
.design {
	float:left;
	width:27%;
	text-align: center;
	margin-left:2%;
	margin-top:5%;

		img {
			width:85%;
			height:auto;	
			padding: 10px 0 30px 35px;
		} 

		ul {
			text-align: center;
				
			h3 {
			font-size:2rem;
			   }
				
			li {
			list-style: none;
			line-height: 25px;
			font-size: 15px;
			font-style: light;	
			}
		}
}


	.writing {
		float:left;
		width:27%;
		text-align: center;
		margin-right:0;
		margin-top:5%;

	 
			img {
				width:85%;
				height:auto;
				padding: 2px 0 30px 35px;
			}	

			ul {
			text-align: center;
		    	h3 {
					font-size:2rem;
					}
				li { 
					list-style: none;
					font-size: 15px;
					line-height: 25px;
					}
			}
	}
		
#portfolio {
background:url(img/about-background1.png);
position:relative;
z-index:100;
height:685px;

	h2 {
		padding-top:8%;
		 letter-spacing: 5px;
		text-align:center;
		font-size:4rem;
		margin:0;		
	}
}

.portfoliocontainer {
	
	margin: 0 auto;
	max-width:1220px;

	.thumbnails {
		
		width:31%;
		float:left;
		margin-top:13%;
		
		
			.thumbnailSize {
				width:100%;
				height:auto;
			}
	}	
		.thumbnails:nth-child(3n+3){
			margin-right:3.5%;
			margin-left:3.5%;
		}
}

	// .thumbnails:nth-child(n+3) {
	// margin-left:15%;
	// }


	
	

	
	
