/* GLOBAL STYLES 
-----------------*/
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

b, strong, optgroup {
  font-weight: 700;
}

pre, textarea {
  overflow: auto;
}

button::-moz-focus-inner, input::-moz-focus-inner, legend {
  border: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
}

.main {
  position: relative;
  z-index: 5;
  padding: 0;
}

/* HOME
-----------------*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 200;
}

.headwrap {
  background: url(img/laptop-book.jpg) no-repeat fixed center;
  opacity: 0.95;
  background-size: cover;
  width: 100%;
  position: relative;
}
.headwrap .headwrapContainer {
  margin: 0 auto;
  max-width: 90%;
  width: 1240px;
  height: 685px;
}
.headwrap .headwrapContainer .head {
  text-align: center;
  line-height: 0.9;
  height: 185px;
  width: 520px;
  background: #27AE60;
  opacity: 0.8;
  padding: 20px 35px;
  color: white;
  position: fixed;
  z-index: -100;
  top: 37%;
  left: 28%;
  border: 1px solid grey;
}
.headwrap .headwrapContainer .head h1 {
  font-size: 4.1rem;
  letter-spacing: 5px;
  font-weight: 400;
}
.headwrap .headwrapContainer .head h2 {
  font-size: 2.9rem;
  font-weight: 300;
}

/* NAV
-----------------*/
.nav {
  background: rgba(55, 52, 37, 0.6);
  border: 1px solid grey;
}
.nav ul li {
  display: inline-block;
  padding: 1% 0 1% 3%;
}
.nav ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  font-weight: 300;
}

ul.social {
  position: fixed;
  top: 0;
  right: 8%;
}
ul.social li {
  padding-left: 6%;
  float: right;
}
ul.social #menu-item-77 {
  padding-top: 4px;
}
ul.social #menu-item-77 a {
  text-indent: -9999px;
  background: url(img/icons5.png) no-repeat -16px -2px;
  display: inline-block;
  width: 42px;
  height: 41px;
}
ul.social #menu-item-78 {
  padding-top: 4px;
}
ul.social #menu-item-78 a {
  text-indent: -9999px;
  background: url(img/icons5.png) no-repeat -78px -2px;
  display: inline-block;
  width: 42px;
  height: 41px;
}
ul.social #menu-item-79 {
  padding-top: 4px;
}
ul.social #menu-item-79 a {
  text-indent: -9999px;
  background: url(img/icons5.png) no-repeat -141px -2px;
  display: inline-block;
  width: 42px;
  height: 41px;
}
ul.social #menu-item-80 {
  padding-top: 4px;
}
ul.social #menu-item-80 a {
  text-indent: -9999px;
  background: url(img/icons5.png) no-repeat -203px -2px;
  display: inline-block;
  width: 42px;
  height: 41px;
}

/* ABOUT
-----------------*/
article.post-50 {
  max-width: 1240px;
  margin: 0 auto;
}

#about {
  background: url(img/ab-background.png);
  position: relative;
  z-index: 100;
  height: 685px;
}
#about h2 {
  padding-top: 8%;
  letter-spacing: 5px;
  text-align: center;
  font-size: 4rem;
  margin: 0;
  color: #112c1b;
}

img.cover {
  width: 50%;
  height: 40%;
  position: absolute;
  top: 200px;
  left: 500px;
}

#post-50 img {
  width: 22%;
  height: auto;
  float: left;
  margin: 8% 8% 5% 15%;
  box-shadow: 3px 3px 7px 3px #0e4225;
}
#post-50 .content {
  padding-top: 9%;
  position: relative;
  display: block;
}
#post-50 .content p {
  font-size: 1.5rem;
  margin: 1% 15% 0 0;
  line-height: 1.4;
  color: #112c1c;
}
#post-50 .content span.Headline {
  font-size: 1.5rem;
  font-weight: bold;
  color: #112c1b;
}
#post-50 .content::after {
  background-color: black;
  opacity: 0.4;
  width: 50%;
  height: 40%;
  position: absolute;
  top: 200px;
  left: 500px;
}

.skillscontainer {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

#skills {
  background: url(img/skillsbackground5.png) no-repeat;
  position: relative;
  z-index: 100;
  height: 685px;
}
#skills h2 {
  padding-top: 18%;
  padding-left: 2%;
  letter-spacing: 5px;
  font-size: 3.5rem;
  margin: 0;
  color: #112c1b;
}
